<ion-content [fullscreen]="true">
  <app-header
    [pageTitle]="pageTitle"
    [iconName]="'arrow-back-sharp'"
    [FormPage]="true">
  </app-header>

  <!-- Componente de Sub-Cabeçalho -->
  <app-subheader [FormPage]="true" (saveClicked)="updateFornecedor()"
    (discardClicked)="descartar()">
  </app-subheader>

  <div class="container mt-4">
    <form [formGroup]="fornecedorForm" class="card p-4 shadow-sm">

      <!-- Dados da Empresa -->
      <div class="row mb-3">
        <h5 class="mb-3">Dados da Empresa</h5>


        <!-- Campo CNPJ -->
<div class="row mb-3">
  <div class="col-md-3">
    <div class="form-group">
      <label for="cnpj" class="form-label">CNPJ</label>
      <input
        id="cnpj"
        type="text"
        formControlName="cnpj"
        class="form-control"
        placeholder="Digite o CNPJ"
        name="cnpj"
      />
    </div>
  </div>
  <div class="col-md-1 d-flex align-items-end">
    <ion-button fill="clear" (click)="buscarDadosFornecedor()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </div>
</div>


        <!-- Campo Nome da Empresa -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="nomeEmpresa" class="form-label">Nome da Empresa</label>
            <input
              id="nomeEmpresa"
              type="text"
              formControlName="nomeEmpresa"
              class="form-control"
              name="nomeEmpresa"
              placeholder="Digite o Nome da Empresa"/>

          </div>
        </div>

        <!-- Campo Razão Social -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="razaoSocial" class="form-label">Razão Social</label>
            <input
              id="razaoSocial"
              type="text"
              formControlName="razaoSocial"
              class="form-control"
              placeholder="Digite a Razão Social"/>

          </div>
        </div>
      </div>

      <!-- Endereço -->
      <div class="row mb-3">
        <h5 class="mb-3">Endereço</h5>

        <!-- Campo Estado -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="estado" class="form-label">Estado</label>
            <input
              id="estado"
              type="text"
              formControlName="estado"
              class="form-control"
              placeholder="Digite o Estado"/>

          </div>
        </div>

        <!-- Campo Município -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="municipio" class="form-label">Município</label>
            <input
              id="municipio"
              type="text"
              formControlName="municipio"
              class="form-control"
              placeholder="Digite o Município"/>

          </div>
        </div>

        <!-- Campo Logradouro -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input
              id="logradouro"
              type="text"
              formControlName="logradouro"
              class="form-control"
              placeholder="Digite o Logradouro"/>

          </div>
        </div>

        <!-- Campo Número -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="numero" class="form-label">Número</label>
            <input
              id="numero"
              type="text"
              formControlName="numero"
              class="form-control"
              placeholder="Digite o Número"/>

          </div>
        </div>

        <!-- Campo Bairro -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="bairro" class="form-label">Bairro</label>
            <input
              id="bairro"
              type="text"
              formControlName="bairro"
              class="form-control"
              placeholder="Digite o Bairro"/>

          </div>
        </div>

        <!-- Campo CEP -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="cep" class="form-label">CEP</label>
            <input
              id="cep"
              type="text"
              formControlName="cep"
              class="form-control"
              placeholder="Digite o CEP"/>

          </div>
        </div>
      </div>

      <!-- Contato -->
      <div class="row mb-3">
        <h5 class="mb-3">Contato</h5>

        <!-- Campo Telefone 1 -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="telefone1" class="form-label">Telefone 1</label>
            <input
              id="telefone1"
              type="text"
              formControlName="telefone1"
              class="form-control"
              placeholder="Digite o Telefone 1"/>

          </div>
        </div>

        <!-- Campo Telefone 2 -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="telefone2" class="form-label">Telefone 2</label>
            <input
              id="telefone2"
              type="text"
              formControlName="telefone2"
              class="form-control"
              placeholder="Digite o Telefone 2"/>
          </div>
        </div>


      </div>

      <div class="row mb-3">
        <h5 class="mb-3">Informações Adicionais</h5>


        <div class="col-md-4">
          <div class="form-group">
            <label for="atividadeFornecedor" class="form-label">Atividade</label>
            <select name="atividadeFornecedor" id="atividadeFornecedor" type="text"
            formControlName="atividadeFornecedor"
            class="form-control">
            <option *ngFor="let atividade of atividades" [value]="atividade.nome">
              {{ atividade.nome }}
            </option>
          </select>
          </div>
        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label for="nfeCompraFornecedor" class="form-label">NF-e</label>
            <select name="nfeCompraFornecedor" id="nfeCompraFornecedor" type="text"
            formControlName="nfeCompraFornecedor"
            class="form-control">
            <option *ngFor="let boleano of boleanos" [value]="boleano.nome">{{ boleano.nome }}
            </option>
          </select>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="tipoDeEmpresa" class="form-label">Tipo</label>
            <select name="tipoDeEmpresa" id="tipoDeEmpresa" type="text"
            formControlName="tipoDeEmpresa"
            class="form-control">
            <option *ngFor="let tipo of tipos" [value]="tipo.nome">{{ tipo.nome }}
            </option>
          </select>
          </div>
        </div>


      </div>

    </form>
  </div>
</ion-content>
