<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <ion-card class="card-dashboards-barHorizontal setorMaiorPontuacao">
        <ion-card-header>
          <ion-card-title>Compras x Mês</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChartComprasMes></canvas>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="col-md-6">
      <ion-card class="card-dashboards-barHorizontal colaboradoresQuantidadePonto">
        <ion-card-header>
          <ion-card-title>Vendas x Mês</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChartVendasMes></canvas>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Adicionando o gráfico de barras para Lucro x Mês -->
    <div class="col-md-6">
      <ion-card class="card-dashboards-barHorizontal setorMediaPontuacao">
        <ion-card-header>
          <ion-card-title>Lucro x Mês</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChartLucroMes></canvas>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>
