<ion-row id="tabela-container">
  <ion-col size="12">
    <ion-card class="shadow-lg">
      <!-- Cabeçalho do Card -->
      <ion-row>

      </ion-row>
      <ion-card-content>
        <!-- Tabela Responsiva -->
        <div class="table-responsive">
          <table class="table table-striped table-hover text-center">
            <thead class="bg-dark text-white fw-bold">
              <tr>
                <th class="col-disabled col-sm-1">ID</th>
                <th class="col-disabled col-sm-1">Código</th>
                <th class="col-disabled col-sm-1">O.S</th>
                <th class="col-disabled col-sm-4">Descrição do Serviço</th>
                <th class="text-success">{{ totalServicoMecanico | currency: 'BRL' }}</th>
                <th class="col-disabled">% Margem</th>
                <th class="text-success">{{ totalServicoSemDesconto | currency: 'BRL' }}</th>
                <th class="col-disabled">% Desconto</th>
                <th class="text-success">{{ totalServicoComDesconto | currency: 'BRL' }}</th>
                <th class="col-disabled">% CSLL Retido</th>
                <th class="col-disabled">% PIS Retido</th>
                <th class="col-disabled">% COFINS Retido</th>
                <th class="text-success">{{ totalImpostosRetidos | currency: 'BRL' }}</th>
                <th class="col-disabled">% CSLL</th>
                <th class="col-disabled">% IRPJ</th>
                <th class="col-disabled">% ISS</th>
                <th class="text-success">{{ totalImpostosNaoRetidos | currency: 'BRL' }}</th>
                <th class="col-disabled">% Comissão Varejista</th>
                <th class="col-disabled">% Comissão Distribuidor</th>
                <th class="col-disabled">% Taxa</th>
                <th class="text-success">{{ totalDespesas | currency: 'BRL' }}</th>
                <th class="text-success">{{ totalLucroReais | currency: 'BRL' }}</th>
                <th class="text-success">{{ totalLucroPercentual | percent: '1.0-3' }}</th>
                <th class="col-disabled">Ações</th>
              </tr>
            </thead>
            <!-- Cabeçalho da Tabela -->
            <thead class="bg-dark text-white w">
              <tr>
                <th class="col">ID</th>
                <th class="col">Código</th>
                <th class="col-disabled col-sm-1">O.S</th>
                <th class="col-sm-3">Descrição do Serviço</th>
                <th class="text-success">Serviço Mecânico + Materiais</th>
                <th>% Margem</th>
                <th class="text-success">Serviço S/Desconto</th>
                <th>% Desconto</th>
                <th class="text-success">Serviço C/Desconto</th>
                <th>% CSLL</th>
                <th>% PIS</th>
                <th>% COFINS</th>
                <th class="text-success">Impostos Retidos</th>
                <th>% CSLL</th>
                <th>% IRPJ</th>
                <th>% ISS</th>
                <th class="text-success">Impostos Não Retidos</th>
                <th>% Comissão Var</th>
                <th>% Comissão Dist</th>
                <th>% Taxa</th>
                <th class="text-success">Despesas</th>
                <th class="text-success">Lucro R$</th>
                <th class="text-success">Lucro %</th>
                <th>Ações</th>
              </tr>
            </thead>

            <!-- Corpo da Tabela -->
            <tbody>
              <tr *ngFor="let item of dadosTabela; let i = index">
                <td>{{item.id}}</td>
                <td>{{i + 1}}</td>
                <td>{{item.numeroOs}}</td>



                <td (click)="iniciarEdicao(item)" class="col">
                  <span *ngIf="!item.editando">{{ item.nomeServico }}</span>
                  <input *ngIf="item.editando" [(ngModel)]="item.nomeServico" (blur)="finalizarEdicao(item, false)"
                    (keyup.enter)="finalizarEdicao(item, false)" autofocus class="form-control padrao-input" />
                </td>

                <!-- Serviço Mecânico + Materiais -->
                <td class="text-success tooltip-container">
                  {{item.valorServicoMecanico + item.valorMateriais | currency:'BRL'}}
                  <span class="tooltip-content">
                    Serviço Mecânico: {{item.valorServicoMecanico | currency:'BRL'}}<br>
                    Materiais: {{item.valorMateriais | currency:'BRL'}}
                  </span>
                </td>


                <td (click)="iniciarEdicao(item)" class="col">
                  <span *ngIf="!item.editando">{{ item.percentualMargem }}%</span>
                  <input *ngIf="item.editando" [(ngModel)]="item.percentualMargem" (blur)="finalizarEdicao(item, false)"
                    (keyup.enter)="finalizarEdicao(item, false)" autofocus class="form-control padrao-input" />
                </td>

                <!-- Serviço Sem Desconto -->
                <td class="text-success tooltip-container">
                  {{ calculateVTServico(item) | currency:'BRL' }}
                  <span class="tooltip-content">
                    Cálculo: {{item.valorServicoMecanico + item.valorMateriais | currency:'BRL'}}
                    + ({{item.percentualMargem}}% de {{item.valorServicoMecanico + item.valorMateriais |
                    currency:'BRL'}})
                  </span>
                </td>


                <td (click)="iniciarEdicao(item)" class="col">
                  <span *ngIf="!item.editando">{{ item.percentualDesconto }}%</span>
                  <input *ngIf="item.editando" [(ngModel)]="item.percentualDesconto"
                    (blur)="finalizarEdicao(item, false)" (keyup.enter)="finalizarEdicao(item, false)" autofocus
                    class="form-control padrao-input" />
                </td>


                <!-- Serviço Com Desconto -->
                <td class="text-success tooltip-container">
                  {{ calculateVTServicoComDesconto(item) | currency:'BRL' }}
                  <span class="tooltip-content">
                    Cálculo: {{calculateVTServico(item) | currency:'BRL'}}
                    - ({{item.percentualDesconto}}% de {{calculateVTServico(item) | currency:'BRL'}})
                  </span>
                </td>

                <td>{{item.csllRetido}}%</td>
                <td>{{item.aliquotapisSaida}}%</td>
                <td>{{item.aliquotacofinsSaida}}%</td>

                <!-- Impostos Retidos -->
                <td class="text-success tooltip-container">
                  {{ caculateTotalImpostoRetido(item) | currency:'BRL' }}
                  <span class="tooltip-content">
                    CSLL Retido: {{calculateCSLLRetido(item) | currency:'BRL'}}<br>
                    PIS Retido: {{calculatealiquotapisSaida(item) | currency:'BRL'}}<br>
                    COFINS Retido: {{calculatealiquotaCofinsSaida(item) | currency:'BRL'}}
                  </span>
                </td>

                <td>{{item.csll}}%</td>
                <td>{{item.irpj}}%</td>
                <td>
                  {{ item.valorServicoMecanico === 0 ? '0' : item.aliquotaISS }}%
                </td>

                <!-- Impostos Não Retidos -->
                <td class="text-success tooltip-container">
                  {{ caculateTotalImpostoNaoRetido(item) | currency: 'BRL' }}
                  <span class="tooltip-content">
                    CSLL: {{calculateCSLL(item) | currency:'BRL'}}<br>
                    IRPJ: {{calculateIRPJ(item) | currency:'BRL'}}<br>
                    ISS: {{calculateIss(item) | currency:'BRL'}}
                  </span>
                </td>


                <td (click)="iniciarEdicao(item)" class="col">
                  <span *ngIf="!item.editando">{{ item.comissaoVarejista }}%</span>
                  <input *ngIf="item.editando" [(ngModel)]="item.comissaoVarejista"
                    (blur)="finalizarEdicao(item, false)" (keyup.enter)="finalizarEdicao(item, false)" autofocus
                    class="form-control padrao-input" />
                </td>
                <td (click)="iniciarEdicao(item)" class="col">
                  <span *ngIf="!item.editando">{{ item.comissaoDistribuidor }}%</span>
                  <input *ngIf="item.editando" [(ngModel)]="item.comissaoDistribuidor"
                    (blur)="finalizarEdicao(item, false)" (keyup.enter)="finalizarEdicao(item, false)" autofocus
                    class="form-control padrao-input" />
                </td>
                <td (click)="iniciarEdicao(item)" class="col">
                  <span *ngIf="!item.editando">{{ item.percentualTaxas }}%</span>
                  <input *ngIf="item.editando" [(ngModel)]="item.percentualTaxas" (blur)="finalizarEdicao(item, false)"
                    (keyup.enter)="finalizarEdicao(item, false)" autofocus class="form-control padrao-input" />


                  <!-- Despesas -->
                <td class="text-success tooltip-container">
                  {{ caculateTotalDespesas(item) | currency: 'BRL' }}
                  <span class="tooltip-content">
                    Comissão Varejista: {{calculateComissaoV(item) | currency:'BRL'}}<br>
                    Comissão Distribuidor: {{calculateComissaoD(item) | currency:'BRL'}}<br>
                    Taxas: {{calculateTaxas(item) | currency:'BRL'}}
                  </span>
                </td>

                <!-- Lucro em Reais -->
                <td class="text-success tooltip-container">
                  {{ caculateTotalLucroReais(item) | currency: 'BRL' }}
                  <span class="tooltip-content">
                    Cálculo:<br>
                    Serviço c/Desconto: {{calculateVTServicoComDesconto(item) | currency:'BRL'}}<br>
                    - Impostos Retidos: {{caculateTotalImpostoRetido(item) | currency:'BRL'}}<br>
                    - Impostos Não Retidos: {{caculateTotalImpostoNaoRetido(item) | currency:'BRL'}}<br>
                    - Despesas: {{caculateTotalDespesas(item) | currency:'BRL'}}<br>
                    - Custo Mecânico: {{item.valorServicoMecanico + item.valorMateriais | currency:'BRL'}}
                  </span>
                </td>

                <!-- Lucro Percentual -->
                <td class="text-success tooltip-container">
                  {{ caculateTotalLucroPercentual(item)/100 | percent: '1.0-3' }}
                  <span class="tooltip-content">
                    Cálculo:<br>
                    (Lucro R$ {{caculateTotalLucroReais(item) | currency:'BRL'}} /
                    Serviço c/Desconto {{calculateVTServicoComDesconto(item) | currency:'BRL'}}) * 100
                  </span>
                </td>

                <td>
                  <ion-buttons>
                    <ion-button fill="clear" size="small" class="text-danger" (click)="removeItem(item, i)">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="small" class="text-primary" (click)="editarItem(item, i)">
                      <ion-icon name="open-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>



<app-botao-flutuante (printContentClicked)="printContent()" (exportToExcelClicked)="exportToExcel()"
  (printDREClicked)="printDRE()" (salvarDadosSimuladorClicked)="finalizarSimulacao()">
</app-botao-flutuante>