ion-col,
ion-card{
font-size: 14px;
border-collapse: collapse;
}

#totals-card {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .totals-card ion-card-header {
    text-align: center;
  }

  .totals-card ion-card-content p {
    margin: 10px 0;
  }


  .col-disabled {
    color: white;
    pointer-events: none; /* Bloqueia a interação */
    user-select: none; /* Impede a seleção do texto */
  }

  .button-information{
    color: green;
  }
