ion-content {
    background: var(--background);
}


strong{
   color:#0e420b;
   font-weight: bolder;
}

ion-button{
    color: #ffffff; 
}

ion-input{
    padding-left: 10px;}
    h4{
        --color: blue;
    }