<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do ICMS-ST</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalhes do Produto: {{ item.nomeProduto }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="row g-3 mt-4">
        <!-- Quantidade -->
        <div class="col-6 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>Qt</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ item.quantidadeProduto }}</p>
            </div>
          </div>
        </div>

        <!-- Valor Unitário -->
        <div class="col-6 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>V Un</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ item.valorCompraProdutoUnitario | currency:'BRL' }}</p>
            </div>
          </div>
        </div>

        <!-- Valor Total -->
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>V T.</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ valorCompra | currency:'BRL' }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3 mt-4">
        <!-- NCM -->
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>NCM</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ item.ncmCompra }}</p>
            </div>
          </div>
        </div>

        <!-- CEST -->
        <div class="col-6 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>CEST</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ item.cestCompra }}</p>
            </div>
          </div>
        </div>

        <!-- Alíquota Interna -->
        <div class="col-6 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>Aliq. Interna</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ item.aliquotaInternaDistribuidor }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3 mt-4">
        <!-- BC antes MVA -->
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>BC antes MVA</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ valorCompra | currency:'BRL' }}</p>
            </div>
          </div>
        </div>

        <!-- Alíquota MVA -->
        <div class="col-6 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>Aliq. MVA</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ item.percentualMVA }}</p>
            </div>
          </div>
        </div>

        <!-- BC ICMS ST -->
        <div class="col-6 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>BC ICMS ST</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ baseIcmsSt | currency:'BRL' }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3 mt-4">
        <!-- Débito do ICMS-ST -->
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>Déb. do ICMS-ST (R$)</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ debitoIcmsSt | currency:'BRL' }}</p>
            </div>
          </div>
        </div>

        <!-- Crédito do ICMS-ST -->
        <div class="col-6 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>Créd. do ICMS-ST (R$)</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ calculateIcms | currency:'BRL' }}</p>
            </div>
          </div>
        </div>

        <!-- Diferença do ICMS-ST -->
        <div class="col-6 col-md-4">
          <div class="card h-100">
            <div class="card-header text-center">
              <strong>Dif. ICMS-ST</strong>
            </div>
            <div class="card-body text-center">
              <p>{{ calculoDifICMS | currency:'BRL' }}</p>
            </div>
          </div>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
