@import '~bootstrap/dist/css/bootstrap.min.css';


@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


*{
  font-family: "helvetica", "open sans", "Helvetica Neue", Helvetica, Arialn,
  sans-serif;
  font-size: 14px;

}

ion-input {
  --label-font-size: 1.5rem; /* Define o tamanho do texto do label */
  --label-color: #000; /* Define a cor do label */
}

ion-button {
  color: #3f7b32;
}

ion-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

