#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.content-ltr {
  --background: #fff;
}

ion-router-outlet {
  background: #f2f5f7;
}

ion-menu.ios {
  width: auto;
}

ion-toolbar {
  --background: #11450e;
  --color: #fff;
  border-bottom: none;
}

.logout {
  color: #fff;
}
.logo-central {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.logo{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

