<ion-app>
  <ion-menu contentId="main-content" side="start" menuId="menu">
    <ion-header>
      <ion-toolbar>
        <ion-col size="10">
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <div class="logo" style="text-align: center; font-size: 40px;">
            <ion-img class="logo" src="assets/logo.png"></ion-img>
          </div>
        </ion-col>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-lateral">
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item-group>
            <ion-item routerLink="/dashboards" routerDirection="forward">
              <ion-icon slot="start" name="analytics-outline"></ion-icon>
              <ion-label>Dashboards</ion-label>
            </ion-item>
            <ion-item routerLink="/dashboards/powerbi/visualizar" routerDirection="forward">
              <ion-icon slot="start" name="analytics-outline"></ion-icon>
              <ion-label>Dashboards Power BI</ion-label>
            </ion-item>
            <ion-item routerLink="/simulador/produtos" routerDirection="forward">
              <ion-icon slot="start" name="calculator-outline"></ion-icon>
              <ion-label>Simulador de Produtos</ion-label>
            </ion-item>
            <ion-item routerLink="/simulador/servico" routerDirection="forward">
              <ion-icon slot="start" name="calculator-outline"></ion-icon>
              <ion-label>Simulador de Serviços</ion-label>
            </ion-item>
            <ion-item routerLink="/ncms" routerDirection="forward">
              <ion-icon slot="start" name="list-outline"></ion-icon>
              <ion-label>NCMs</ion-label>
            </ion-item>
            <ion-item routerLink="/simulador/cnae" routerDirection="forward">
              <ion-icon slot="start" name="list-outline"></ion-icon>
              <ion-label>CNAEs</ion-label>
            </ion-item>
            <ion-item routerLink="/simulador/fornecedores" routerDirection="forward">
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label>Fornecedores</ion-label>
            </ion-item>
          </ion-item-group>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <!-- Exibindo o e-mail do usuário -->
          <ion-label class="user-email">{{ userEmail }}</ion-label>
          <ion-button shape="round" fill="clear" class="logout" (click)="logout()">
            <ion-icon slot="icon-only" color="#fff" name="log-in-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="logo-central">
      <ion-img class="logo" src="assets/logo.png"></ion-img>
    </div>
  </ion-router-outlet>
</ion-app>
